@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;800;900&family=Oswald:wght@200;300;400;700&display=swap');
body {
	background: whitesmoke;
	color: black;
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
	font-weight: '600';
	font-size: 18px;
	text-align: justify;
}
header, footer {
	background: black;
	color: white;
	text-align: center;
}
/* BOX MODEL */
header, footer {
	padding:120px 32px;
}

nav {
	margin-top: -60px;
}
nav ul {
	padding-left: 0;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;

} 
nav ul a {
	background: #0388A6;
	color: white;
	padding: 1em;
	margin: 0.5em;
	text-decoration: none;
}
nav ul a:hover {
	background: black;
	color: white;
	padding: 1em;
	margin: 0.5em;
}
hr {
	border: none;
	border-top: 1px #ACD1F2 ;
	padding: 12px;
}

.foto-flotante {
	float: left;
	width:calc(33.33% - 36px);
	margin-right: 2em;
	margin-top: 1em;
	display: flex;
    margin: 0;
    text-align: center;

}
.foto-flotante img {
	border-radius: 50%;
}

div.texto-pres {
	margin-top: 16px;
    padding: 16px;
    float: left;
    width: 66.66%;
    box-sizing: border-box;
    margin-bottom: 2em;
}

.fin-flotar {
	clear:both;
}

#pre {
	width: 1200px;
	margin: auto;

}
h2 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-variant-caps: all-small-caps;
	font-size: 36px;
	color: #0388A6;
}
.boton-subir {
	position: fixed;
	right: 3%;
	bottom: 3%;
	text-decoration: none;
	background: #0388A6;
	color: white;
	padding: 24px;
}

.icono-subir {
	color: white;
}

.boton-subir:hover {
	position: fixed;
	right: 3%;
	bottom: 3%;
	text-decoration: none;
	background: black;
	color: #0388A6;
	padding: 24px;
}

.icono-subir:hover {
	color: #0388A6;
}

.contenedor {
	width:1200px;
	margin:0 auto;
	position:relative;
}

.alinear-porta {
 	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 1em;
	justify-content: center;
 }
 .alinear-porta > li {
 	width: 40%;
 	justify-content: center;
 }

/******************************/
/***		FLEXBOX			***/
/******************************/	
	
.fila {
	display:flex;
	flex-flow: row wrap; 
}

.texto-centrado {
	width:800px;
	margin:0 auto;
	position:relative;
	list-style-type:none;
}
section li {
	list-style-type: none;
	padding: 3 em;
	margin-bottom: 1.5em;
}
.centrar-caja {
	display: flex;
	width: 800px;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

/* #cont {
	display: flex;
	width: 800px;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
*/
section ol, section ul {
	padding: 0;
}

section ul li figure img {
	width: 100%;
	height: auto;
}
.alinear-dl {
	display: flex;
	width: 85%;
	flex-flow: row;
	margin: 1em;
	flex-wrap: wrap;
	align-items: flex-start;
}
section dl dt {
	width: 50%;
	text-align: right;
	/* border-right: 2px #0388A6 solid; */
	margin-right: 1em;
	padding-right: 1em;
	padding-bottom: 0em;
	white-space: pre-wrap;
}

section dl dt dd {
	width: 50%;
	text-align: left;
	border-left: 2px #0388A6 solid;
	margin: 0;
}

/******************************/
/***    RESPONSIVE          ***/
/******************************/	


@media screen and (max-width:1230px) {
	.foto-flotante {
		width:calc(30% - 8px);
		padding: 0.5em;
		margin: 0.5em;
		display: flex;
	    margin: 0;
	    align-self: center;
	}

	div.texto-pres {
		margin-top: 16px;
	    padding: 0.5em;
	    float: left;
	    width: calc(60% - 8px);
	    box-sizing: border-box;
	    margin-bottom: 2em;
	    margin-left: 0.5em;
	}
	
}

@media screen and (max-width:1199px) {
	.contenedor {
		width:900px;
		margin:0 auto;
		position:relative;
	}

	#pre {
		width: 900px;
		margin: auto;
	}

	.foto-flotante {
		width:calc(30% - 8px);
		padding: 0.5em;
		margin: 1.5em;
		display: flex;
	    margin: 0;
	}

	div.texto-pres {
		margin-top: 0;
	    padding: 0.5em;
	    float: left;
	    width: calc(60% - 8px);
	    box-sizing: border-box;
	    margin-bottom: 2em;
	    margin-left: 3em;
	}

}

@media screen and (max-width:1037px) {
	#pre {
		width: 900px;
		margin: auto;
	}

	.contenedor {
		width:800px;
		margin:0 auto;
		position:relative;
	}


	div.texto-pres {
		margin-top: 16px;
	    padding: 0.5em;
	    float: left;
	    width: calc(60% - 8px);
	    box-sizing: border-box;
	    margin-bottom: 2em;
	    margin-left: 3em;
	}
	
	nav ul {
	padding-left: 0;
	display:flex;
	flex-direction:row;
	flex-wrap: initial;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
	} 
}

@media screen and (max-width:1020px) {
	nav ul {
	padding-left: 0;
	display:block;
	
	} 
	nav ul li {
		padding: 20px;
	}
	nav {
		margin-top: 0;
	}
}
@media screen and (max-width:995px) {
	.boton-subir {
	position: fixed;
	right: 0.5%;
	bottom: 0.5%;
	text-decoration: none;
	background: #0388A6;
	color: white;
	padding: 6px;
	}
}

@media screen and (max-width:900px) {
	.contenedor {
		width:700px;
		margin:0 auto;
		position:relative;
	}

	#pre {
		width: 800px;
		margin: auto;
	}

	.foto-flotante {
		width:calc(30% - 8px);
		padding: 0em;
		margin: 0em;
		display: flex;
	    margin: 0;
	}

	.texto-centrado {
		width:700px;
		margin:0 auto;
		position:relative;
		list-style-type:none;
	}

	div.texto-pres {
		margin-top: 0;
	    padding: 0;
	    float: left;
	    width: calc(60% - 4px);
	    box-sizing: border-box;
	    margin-bottom: 2em;
	    margin-left: 90px;
	}

	.alinear-porta > li {
 	width: 50%;
 	justify-content: center;
 	}

}

@media screen and (max-width:870px) {
	.contenedor {
		width:85%;
		margin:0 auto;
		position:relative;
	}

	#pre {
		width: 85%;
		margin: auto;
	}

	.texto-centrado {
		width: 85%;
		margin:0 auto;
		position:relative;
		list-style-type:none;
	}

	.foto-flotante {
		width:100%;
		padding: 0em;
		margin: 1em;
		display: block;
		float: none;
	    margin: 0;
	    align-items: center;
	}

	div.texto-pres {
		margin-top: 1em;
	    padding: 0;
	    float: none;
	    width: 100%;
	    box-sizing: border-box;
	    margin-bottom: 2em;
	    margin-left: 0;
	    align-items: center;
	}

	.alinear-porta > li {
	 	width: 50%;
	 	justify-content: center;
 	}
}

 @media screen and (max-width:716px) {
	.alinear-porta > li {
	 	width: 87%;
	 	justify-content: center;
 	}

 	.alinear-dl {
		display: inline-flex;
		width: 100%;
		flex-flow: row;
		margin: 0px;
		flex-wrap: wrap; 
		align-items: center;
		justify-content: center;
		text-align: justify;
	}
	.centrar-caja {
		display: inline;
		width: 100%;
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}
	.texto-centrado {
		width: 85%;
		margin:0 auto;
		position:relative;
		list-style-type:none;
		text-align: center;
	}
}

 @media screen and (max-width:500px) {
	.alinear-porta > li {
	 	width: 100%;
	 	justify-content: center;
 	}

 	.alinear-dl {
		display: inline;
		width: 100%;
		flex-flow: row;
		margin: 0px;
		flex-wrap: wrap; 
		align-items: flex-start;
		justify-content: space-between;
	}
	.contenedor {
		width:100%;
		margin:0 auto;
		position:relative;
	}

	.boton-subir {
	position: fixed;
	right: 0.5%;
	bottom: 0.5%;
	text-decoration: none;
	background: #0388A6;
	color: white;
	padding: 3px;
	}
}

