@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;800;900&family=Oswald:wght@200;300;400;700&display=swap');
@font-face {
 font-family: 'broadcast_matter';
 src: url('../webfonts/broadcast_matter.ttf');
 font-weight: normal;
 font-style: normal;
}
@font-face {
 font-family: 'baksosapi';
 src: url('../webfonts/baksosapi.otf');
 font-weight: normal;
 font-style: normal;
}
h1 {
	font-family:broadcast_matter;
	font-size: 110px;
	margin-bottom: 0;
	color: black;
	text-shadow: 2px 2px 8px #fffaf0;
}
h3 {
	text-align: center;
	font-family:baksosapi;
}
body {
	background-color: #FFFAF0;
	color: black;
	margin: 0;
	font-family: 'Maven Pro', sans-serif;
	font-weight: '600';
	font-size: 18px;
	text-align: justify;
}
header {
	background-image: url(../../media/foto-header.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-color: #FFFAF0;
	background-size: contain;
}
header p {
	font-size: 26px;
	margin-top: 0px;
	font-family:baksosapi;
}
header, footer {
	color:black;
	text-align: center;
}
/* BOX MODEL */
header, footer {
	padding:60px 32px;
}

nav {
	margin-top: 0px;
}
nav ul {
	padding-left: 0;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;

} 
nav ul a {
	background: #f5d121;
	color: black;
	padding: 1em;
	margin: 0.5em;
	text-decoration: none;
	font-family:baksosapi;
}
nav ul a:hover {
	background: black;
	color: white;
	padding: 1em;
	margin: 0.5em;
}
hr {
	border: none;
	border-top: 1px #ACD1F2 ;
	padding: 12px;
}
.menuHr{
	padding: 0;
	margin: 0;
}
.foto-flotante {
	float: left;
	width:calc(33.33% - 36px);
	margin-right: 2em;
	margin-top: 1em;
	display: flex;
    margin: 0;
    text-align: center;

}
.foto-flotante img {
	border-radius: 50%;
}

div.texto-pres {
	margin-top: 16px;
    padding: 16px;
    float: left;
    width: 66.66%;
    box-sizing: border-box;
    margin-bottom: 2em;
}

.fin-flotar {
	clear:both;
}

#pre {
	width: 1200px;
	margin: auto;

}
h2 {
	text-align: center;
	font-family:baksosapi;
	/*font-family: 'Maven Pro', sans-serif;*/
	font-variant-caps: all-small-caps;
	font-size: 32px;
	font-weight: 400;
	color: black;
	/*background-color:#DAA520;*/
}
.boton-subir {
	position: fixed;
	right: 3%;
	bottom: 3%;
	text-decoration: none;
	background: #DAA520;
	color: white;
	padding: 24px;
}

.icono-subir {
	color: white;
}

.boton-subir:hover {
	position: fixed;
	right: 3%;
	bottom: 3%;
	text-decoration: none;
	background: black;
	color: #0388A6;
	padding: 24px;
}

section ol li p {
	margin: 0;
}
section ol li p:first-child {
	font-family:baksosapi;
	font-weight: 700;
	color: #DAA520;
}

section ol li p:nth-child(2) {
	font-weight: 500;
	color: #696969;
}

section ol li p:nth-child(3) {
	font-weight: 800;
	font-family:baksosapi;
}

.contenedor {
	width:1200px;
	margin:0 auto;
	position:relative;
}

.alinear-porta {
 	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 1em;
	justify-content: center;
 }
 .alinear-porta > li {
 	width: 40%;
 	justify-content: center;
 }

 section ul li figure figcaption {
 	display: none;
 }

.transparencia li figure a:hover {
 	background color: gray;
	
 }
 section ul li figure a {
	background color: gray;
	opacity: 1;
 }

/******************************/
/***		FLEXBOX			***/
/******************************/	
	
.fila {
	display:flex;
	flex-flow: row wrap; 
}

.texto-centrado {
	width:800px;
	margin:0 auto;
	position:relative;
	list-style-type:none;
}
section li {
	list-style-type: none;
	padding: 3 em;
	margin-bottom: 1.5em;
}
.centrar-caja {
	display: flex;
	width: 800px;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

/* #cont {
	display: flex;
	width: 800px;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}
*/
section ol, section ul {
	padding: 0;
}

section ul li figure img {
	width: 100%;
	height: auto;
}
.alinear-dl {
	display: flex;
	/*width: 85%;*/
	flex-flow: row;
	flex-wrap: wrap;
	align-items: flex-start;
}
section dl dt {
	width: calc(50% - 10px);
	text-align: right;
	/* border-right: 2px #0388A6 solid; */
	margin-right: 0;
	margin-left: 10px;
	padding-right: 0;
	padding-bottom: 0em;
	white-space: pre-wrap;
}

section dl > dd {
	width:calc(50% - 10px);
	text-align: left;
	/*border-left: 2px #0388A6 solid;*/
	margin-left: 10px;
}
.portafolio figure {
	position: relative;
}
	.portafolio figure * {
		display: block;
	}
	.portafolio figcaption {
		position: absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		/*display:none;*/
		opacity:0;
		transition:all 0.3s ease;
	}
	.portafolio figure:hover figcaption {
		opacity: 0.9;
	}

	.portafolio figcaption a {
		position:absolute;
		top:0px;
		bottom:0px;
		right:0px;
		left:0px;
		background-color:rgba(0,0,0,0.9);
		box-shadow:0 0 4px rgba(0,0,0,0.3);
		color:#fff;
		text-decoration:none;
		text-align:center;
		font-weight:400;
		text-shadow:0 0 4px rgba(0,0,0,0.6);
	}
	.portafolio figcaption span {
		position:absolute;
		left:0;
		right:0;
		top:50%;
		transform:translateY(-50%);
	}
#menuPrincipalMovil {
	text-align: right;
	padding: 0.5em;
	display: none;
}
	#menuPrincipalIcono { /* Para que el menú hamburguesa de la indicación que es interativo, con el cursor nos indique que hay interacción */
		cursor: pointer;
	}
.alinear-contacto  {
	width: 100%;
	text-align: left;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	margin-left: -180px;
}


}
/******************************/
/***    RESPONSIVE          ***/
/******************************/	


@media screen and (max-width:1230px) {
	.foto-flotante {
		width:calc(30% - 8px);
		padding: 0.5em;
		margin: 0.5em;
		display: flex;
	    margin: 0;
	    align-self: center;
	}

	div.texto-pres {
		margin-top: 16px;
	    padding: 0.5em;
	    float: left;
	    width: calc(60% - 8px);
	    box-sizing: border-box;
	    margin-bottom: 2em;
	    margin-left: 0.5em;
	}
	
}

@media screen and (max-width:1199px) {
	.contenedor {
		width:900px;
		margin:0 auto;
		position:relative;
	}

	#pre {
		width: 900px;
		margin: auto;
	}

	.foto-flotante {
		width:calc(30% - 8px);
		padding: 0.5em;
		margin: 1.5em;
		display: flex;
	    margin: 0;
	}

	div.texto-pres {
		margin-top: 0;
	    padding: 0.5em;
	    float: left;
	    width: calc(60% - 8px);
	    box-sizing: border-box;
	    margin-bottom: 2em;
	    margin-left: 3em;
	}

}

@media screen and (max-width:1037px) {
	#pre {
		width: 900px;
		margin: auto;
	}

	.contenedor {
		width:800px;
		margin:0 auto;
		position:relative;
	}


	div.texto-pres {
		margin-top: 16px;
	    padding: 0.5em;
	    float: left;
	    width: calc(60% - 8px);
	    box-sizing: border-box;
	    margin-bottom: 2em;
	    margin-left: 3em;
	}
	
}

@media screen and (max-width:1020px) {
	nav ul {
	padding-left: 0;
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	list-style-type: none;
	} 

	nav ul a {
	background: #f5d121;
	color: black;
	padding: 1em 0.35em;
	margin: 1px;
	text-decoration: none;
	font-family:baksosapi;
	}

	nav ul a:hover {
		background: black;
		color: white;
		padding: 1em 0.35em;
		margin: 1px;
	}
}
@media screen and (max-width:995px) {
	.boton-subir {
	position: fixed;
	right: 0.5%;
	bottom: 0.5%;
	text-decoration: none;
	background: #DAA520;
	color: white;
	padding: 6px;
	}

	.boton-subir:hover {
	position: fixed;
	right: 0.5%;
	bottom: 0.5%;
	text-decoration: none;
	background: black;
	color: #0388A6;
	padding: 6px;
	}
}

@media screen and (max-width:900px) {
	.contenedor {
		width:700px;
		margin:0 auto;
		position:relative;
	}

	#pre {
		width: 800px;
		margin: auto;
	}

	.foto-flotante {
		width:calc(30% - 8px);
		padding: 0em;
		margin: 0em;
		display: flex;
	    margin: 0;
	}

	.texto-centrado {
		width:700px;
		margin:0 auto;
		position:relative;
		list-style-type:none;
	}

	div.texto-pres {
		margin-top: 0;
	    padding: 0;
	    float: left;
	    width: calc(60% - 4px);
	    box-sizing: border-box;
	    margin-bottom: 2em;
	    margin-left: 90px;
	}

	.alinear-porta > li {
 	width: 50%;
 	justify-content: center;
 	}

}

@media screen and (max-width:870px) {
	.contenedor {
		width:70%;
		margin:0 auto;
		position:relative;
	}

	#pre {
		width: 80%;
		margin: auto;
	}

	.texto-centrado {
		width: 70%;
		margin:0 auto;
		position:relative;
		list-style-type:none;
	}

	.foto-flotante {
		width:100%;
		padding: 0em;
		margin: 1em;
		display: block;
		float: none;
	    margin: 0;
	    align-items: center;
	}

	div.texto-pres {
		margin-top: 1em;
	    padding: 0;
	    float: none;
	    width: 100%;
	    box-sizing: border-box;
	    margin-bottom: 2em;
	    margin-left: 0;
	    align-items: center;
	}

	.alinear-porta > li {
	 	width: 50%;
	 	justify-content: center;
 	}
}

@media screen and (max-width:810px) {
	#menuPrincipalMovil {
	display:block;
	}

	header {
		position: relative;
	}

	nav ul {   
	padding-left: 0;
	display:block;
	overflow: hidden;
	transition: all 0.6s ease;
	max-height: 0;
	background-color: #FFFAF0;
	
	} 
	nav ul li {
		margin: 0.5em;
	}
	nav ul a {
		display: block;
		text-align: center;
		transition: all 0.45s ease;
	}
	nav {
		margin-top: 0;
		position: fixed;
		right: 0px;
		top: 0;
		display: block;
		width: 100%;
		z-index: 999999;
	}
	nav ul.abierto {
		max-height: 900px;
	}

}

 @media screen and (max-width:716px) {
	.alinear-porta > li {
	 	width: 87%;
	 	justify-content: center;
 	}

 	.alinear-dl {
		display: inline-flex;
		width: 100%;
		flex-flow: row;
		margin: 0;
		flex-wrap: wrap; 
		/*align-items: center;*/
		/*justify-content: center;*/
		/*text-align: center;*/
	}
	.centrar-caja {
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	.texto-centrado {
		width: 80%;
		margin:0 auto;
		position:relative;
		list-style-type:none;
		text-align: justify;
	}
	h3 {
		text-align: center;
	}
	section dl dt {
		/*width: 50%;*/
		text-align: right;
		/* border-right: 2px #0388A6 solid; */
		margin-right: 0;
		padding-right: 0;
		padding-bottom: 0;
	}

	section dl dt dd {
		/*width: 50%;*/
		text-align: left;
		border-left: none;
		margin-left: 0;
	}

}

 @media screen and (max-width:500px) {
	.alinear-porta > li {
	 	width: 100%;
	 	justify-content: center;
 	}

 	.alinear-dl {
		display: flex;
		/*width: 100%;*/
		flex-flow: row;
		/*margin: 0px;*/
		flex-wrap: wrap; 
		/*align-items: flex-start;*/
		justify-content: space-between;
	}
	.contenedor {
		width:96%;
		margin:0 auto;
		position:relative;
	}

	.boton-subir {
	position: fixed;
	right: 0.5%;
	bottom: 0.5%;
	text-decoration: none;
	background: #DAA520;
	color: white;
	padding: 3px;
	}

	.boton-subir:hover {
	position: fixed;
	right: 0.5%;
	bottom: 0.5%;
	text-decoration: none;
	background: black;
	color: #0388A6;
	padding: 3px;
	}

	div.texto-pres {
		width: 93%;
	}

	.texto-centrado {
		width: 70%;
		margin:0 auto;
		position:relative;
		list-style-type:none;
		text-align: justify;
	}
}


